/* estilos generales */
.texto-alig-left{
  text-align: left !important;
}
.parallax-full-screen{
  height: 100vh !important;
}
.input-border-radius{
  border-radius: 40px;
}
.padding-todo-0{
  padding: 0 !important;
}
#nuestroservicios h4{
  color: #ee6e73 !important;
}
/* cambio del color del input al estar activo */
.input-field:hover{
    color: #ee6e73 !important;
    cursor: pointer;
}
.fondo-nombre-departamento{
  background-color:  #ee6e73 !important;
  padding: 5px !important;
}
.padding-card{
  padding: 10px !important;
}
.star-icon{
  color: #f05060;
}
.card-image img{
  height: 250px !important;
}
.texto-alojamientos h4{
  color: #ee6e73 !important;
}
.texto-alojamientos h4 small{
  font-size: 20px;
  color: #f08f8f;
}
/* medias */
@media (max-width: 767px){
  .texto-parallax{
    font-size: 3.2rem !important;
  }
}
